* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

html, body, div#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

